.accountOptions {
  display: flex;
  justify-content: space-between;
  .profileImage {
    margin-right: 8px;
  }
  .accountBtn {
    margin-right: 12px;
    border-radius: 12px;
    background-color: rgb(162, 56, 255);
    border: none;
    color: white;
  }
  .networkIcon {
    border-radius: 12px;
    padding: 8px;
    background-color: rgb(162, 56, 255);
    border: none;
  }
  .networkIcon img {
    width: 24px;
    height: 24px;
  }
}

.connetWallet {
  width: 180px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 8px;
}
